* {
  box-sizing: border-box;
}
/* * {
  border: 1px solid red;
} */

html {
  font-family: "Open Sans", sans-serif;
  font-style: light;
  font-size: 18px;
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


/* header with navigation bar */

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 120px;
  color: seashell;
  background-color: black;
  padding-right: 15px;
}

nav {
  display: flex;  
  margin-left: auto;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding-right: 15px;
  font-size: larger;
  margin: 5px 5px;
}

nav li:hover {
  background: rgb(72, 77, 85);
  color: #fff;
  transition: ease 0.3s all;
  border-radius: 10px;
}

nav a {
  color: seashell;
  padding: 1rem;
}
nav a:visited {
  color: rgb(180, 176, 176);
}

/* Hero banner with jumbotron and contact me button */

.jumbotron {
  padding-top: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  max-height: 700px;
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: seashell;
  text-shadow: 1px 1px rgb(39, 40, 41);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/lighthouse.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-size: larger;
}
 
h2 {
  width: 100%;
}

.jumbotron .btn {
  border: none;
  outline: 0;
  width: 150px;
  height: 50px;
  font-size: large;
  text-align: center;
  padding: 10px 25px;
  color: rgb(65, 63, 63);
  background-color:seashell;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: none;
}

.jumbotron .btn:hover {
  background-color: #555;
  color: white;
}
.jumbotron .btn:visited {
  background-color: #555;
  color: rgb(190, 187, 187);
}
/* helper class to make ancor stop after the fixed header */

.anchor {
  display:block;
  height: 120px; /* this is the height of the header */
  margin-top: -120px; /* this is the negative value of the height of the header */
  visibility:hidden;
}

aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}

.contact-block {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(170, 168, 168);
}
.contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 20px;
}

.contacts ul {
  padding: 0px 20px;
}

.it-skills {
  padding-top: 1.5rem;
  margin-left: 20px;
}

.languages {
  margin-left: 20px;
}

.contacts ul {
  list-style: none;
}

.photo {
  margin-right: 20px;
  margin-left: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* change the direction of the main container for larger screens */

@media (min-width: 1200px) {
  .wrapper {
    flex-direction: row; 
  }
  aside {
    width: 500px;
  }
  .content {
    width: calc(100% - 500px);
  }
}

main {
  /* to center horizontally */  
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2rem;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  line-height: 2em;
}
.about-section {
  width: 100%;
}
.about-quote {
  width: 90%;
  margin-left: 2rem;
}

#projects {
  padding-top: 2rem;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project-link {
  display: block;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-card img {
  max-width: 300px;
  padding: 10px;
}

.text-section {
  width: 100%;
}

#education {
  padding-top: 2rem;
}

#job-background {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#examples {
  padding-top: 2rem;
}

.code-examples {  
  line-height: normal;
  width: 100%;
}
.hljs {
  width: 100%;
  overflow-x: none !important;
}

footer {
  height: 80px;
  width: 100%;
  background-color: black;
  color: seashell;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: black;
}

footer img {
  display: block;
  margin-left: 2rem;
  max-width: 150px;
  background-color: white;
}

footer a {
  color: seashell;
}
.github-link {
  display: block;
  margin-right: 2rem;
}

footer a:visited {
  color:rgb(170, 168, 168)
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    font-weight: normal;
  }
  .title {
    font-size: 32px;
  }
  .contact-block {
    flex-direction: column;
  }
  .photo {
    margin-left: 2rem;
  }
}
@media (max-width: 1000px) {
  .projects {
    justify-content: center;
  }
  footer img {
    margin-left: 1rem;
    max-width: 100px;
  }
  footer div {
    margin-left: 1rem;
  }
  footer p {
    margin-left: 1rem;
  }
}